div.app {
    width: 80%;
    margin: 3vh auto;
    background-color: lightblue;
    height: 80vh;
    display: flex;
}

div.cmpt1 {
    width: 40%;
    margin: 3vh auto;
    background-color: lightcoral;
    height: 60vh;
}